{% extends "base.html" %}
{% load static %}
{% block body %}
    <!-- Start blog Area -->
    <section class="blog-area section-gap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 pb-30 header-text">
            <h1>{{note}}</h1>
            <p>
              {{note.created|date:"j M"}} | {{note.tags}} |{{note.user.username}}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="single-blog col-lg-10 col-md-10">

            <p>
              {{note.content}}							</p>
            <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
              <div>
                <img class="img-fluid" src="{% static 'home-static/img/user.png' %}" alt="">
                <a href="#"><span>{{note.user.username}}</span></a>
              </div>
              <div class="meta">
                {{note.created|date:"j M"}}
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- end blog Area -->

{% endblock %}
